@import "../../style/mixins/index";

@confirm-prefix-cls: ~"@{ant-prefix}-confirm";
@confirm-icon-size: 26px;

.@{confirm-prefix-cls} {
  .@{ant-prefix}-modal-header {
    display: none;
  }

  .@{ant-prefix}-modal-close {
    display: none;
  }

  .@{ant-prefix}-modal-body {
    padding: 32px 32px 24px;
    background: @component-background;  //CHANGED(Noah) @primary-color //ADDED(Noah)
    border-radius: @border-radius-base; //ADDED(Noah)
  }

  &-body-wrapper {
    .clearfix();
  }

  &-body {
    .@{confirm-prefix-cls}-title {
      color: @text-color-secondary-black; //CHANGED(Noah) @heading-color
      font-weight: 500;
      font-size: @font-size-lg;
      display: block;
      // create BFC to avoid
      // https://user-images.githubusercontent.com/507615/37702510-ba844e06-2d2d-11e8-9b67-8e19be57f445.png
      overflow: hidden;
    }

    .@{confirm-prefix-cls}-content {
      margin-left: @confirm-icon-size + 16px;
      font-size: @font-size-base;
      color: @text-color-secondary-black; //CHANGED(Noah) #fff// @text-color; //CHANGED(Jiacui)
      margin-top: 8px;
    }

    > .@{iconfont-css-prefix} {
      font-size: @confirm-icon-size;
      margin-right: 16px;
      float: left;
    }
  }

  .@{confirm-prefix-cls}-btns {
    margin-top: 24px;
    float: right;
    button {
        border: solid 1px @normal-color; //CHANGED(NOAH) @text-color-dark; //ADDED(Noah)
        color: @text-color-secondary-black; //CHANGED(Noah)@primary-color; //ADDED(Noah)
        border-radius: 16px; //ADDED(Noah) 
        height: 32px; //ADDED(Noah)
        width: 96px; //ADDED(Noah)
    }
    button + button {
      color: @text-color-white; //ADDED(Noah)
      border: solid 1px @normal-color; //ADDED(Noah)
      border-radius: 16px; //ADDED(Noah) 
      margin-left: 10px; //CHANGED(Noah)
      margin-bottom: 0;
      height: 32px; //ADDED(Noah)
      width: 96px; //ADDED(Noah)
    }
  }

  &-error &-body > .@{iconfont-css-prefix} {
    color: @error-color;
  }

  &-warning &-body > .@{iconfont-css-prefix},
  &-confirm &-body > .@{iconfont-css-prefix} {
    color: @processing-color; //CHANGED(Noah) @body-background //CHANGED(Noah) @warning-color;
  }

  &-info &-body > .@{iconfont-css-prefix} {
    color: @body-background; //CHANGED(Noah) @info-color;
  }
  &-info .@{confirm-prefix-cls}-btns > button { //ADDED(Noah)
    color: @heading-color-dark;
  }

  &-success &-body > .@{iconfont-css-prefix} {
    color: @success-color;
  }
  &-success .@{confirm-prefix-cls}-btns > button { //ADDED(Noah)
    color: @heading-color-dark;
  }
}
